* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Inter", sans-serif;
}

:root {
  --bg-color: #1e1e1e;
  --bg-text:#ffff;
}
body{
  background-color:var(--bg-color);
  background-image: url(./img/wow.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: 20% 30%;
}
header{
  display: flex;
  justify-content: space-between;
  padding: 55px 80px;
  align-items: center;
& nav{
  display: flex;
  gap: 30px;
  & a{
    color: var(--bg-text);
  }
}
  & .icons{
    color:var(--bg-text);
    display: flex;
    gap: 17px;
  }
}
